<footer id="website-footer" class="flex-v">
  <div id="content" class="flex-h flex-1">
    <img class="mainLogo " src="assets/image/ColoredLogoFinal.png" alt="Logo">
    <div class="footerUpSection">
      <span class="tableHeading ">OUR SOLUTIONS</span>
      <br>
      <a href="#">uPark</a>
      <a href="#">CleanBin</a>
      <a href="#">uBeam</a>
      <a href="#">uFind</a>
    </div>
    <div class="otherLinks">
      <p class="tableHeading">OTHER LINKS</p>
      <br>
      <a routerLink="/aboutUs">Our Team</a>
      <a routerLink="/careers">Careers</a>
      <a routerLink="/events">Events</a>
      <a routerLink="/news">News</a>
      <a routerLink="/blogs">Blogs</a>
      <a routerLink="/contactUs">Contact Us</a>
      <!-- <a routerLink="/events" >Events</a>
        <a routerLink="/news">News</a>
        <a routerLink="/blogs" >Blogs</a>
        <a routerLink="/contactUs" >Contact Us</a> -->
    </div>
  </div>
  <div id="greetings">
    <div class="followUsPannel flex-v">
      <div class="flex-h flex-1 footerSocialHandle">
        <span class="copyright">Copyright © 2019, SenRa Tech Pvt. Ltd.All rights reserved.</span>
        <nav class="flex-h">
          <p class="ConnectSocialMedia">Connect With Us</p>
          <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/senraco/">
            <img src="assets/image/Fb-white.png" alt="FaceBookLogo">
          </a>
          <a target="_blank" rel="noopener noreferrer" id="twitter-image" href="https://twitter.com/senraco">
            <img src="assets/image/Twitter-white.png" alt="TwitterLogo">
          </a>
          <a target="_blank" rel="noopener noreferrer" id="linkedin-image"
            href="https://www.linkedin.com/company/senra/">
            <img src="assets/image/Fb-white.png" alt="LinkedinLogo">
          </a>
          <a target="_blank" rel="noopener noreferrer" id="YouT-image"
            href="https://www.youtube.com/channel/UCsHkIVXGT-EK6EsGnZfgs1w">
            <img src="assets/image/YouT-white.png" alt="YouTLogo">
          </a>
        </nav>
      </div>
    </div>
  </div>
</footer>




<!-- <ul class="footerUpSection breakSol" >
  <p class="tableHeading ">OUR SOLUTIONS</p>
  <a href="#">Upark</a>
  <a href="#">CleanBin</a>
  <a href="#">IoT in a Box</a>
</ul>
<ul class="footerUpSection breakOth">
 <p class="tableHeading">OTHER LINKS</p>
 <a routerLink="/aboutUs" >Our Team</a>
 <a routerLink="/careers" >Careers</a>
 <a routerLink="/events" >Events</a>
</ul>
<ul class="footerUpSection">
<a routerLink="/news" class="lastUl">News</a>
<a routerLink="/blogs" >Blogs</a>
<a routerLink="/contactUs" >Contact Us</a>
</ul>-->