<!-- <section class="main">
  <div class="searchBar">
    <p class="heading">SEARCH BAR</p><br><br>
    <input [(ngModel)]="userName" type="text" name="box" placeholder="Search Names here...">
    <div class="btn">
      <button class="searchBtn" (click)='search()'><span id="text">Search</span></button>
    </div>
  </div>
  <div class="info" *ngIf="flag">
    <img class="profilePic" src={{this.info.avatar_url}} alt="profile pic">
    <div class="name">{{this.info.login}}</div>
  </div>
</section> -->




















<!-- <section>
   <div class="flex-horizontal">
    <div>logo</div>
    <div class="flex-1"></div>
    <div class="green-font , top-navigation , flex-horizontal , small-font">
      Mail: info@senraco.com
      <div class="top-navigation"></div>Let's Talk: +91 8767365322
    </div>
  </div>

  <div class="flex-horizontal , top-navigation , small-font , white-font">
    <div class="flex-1"></div>
    <nav>
      <a href=# class="top-navigation , white-font">Services</a>
      <a href=# class="top-navigation , white-font">Solutions</a>
      <a href=# class="top-navigation , white-font">Contact Us</a>
      <a href=# class="top-navigation , white-font">Sign In</a>
    </nav>
  </div> -->
<!--   

  <div class="flex-v" id="visit">

    <div id="heading"> Need LoRaWAN Connectivity? </div>
    <div id="free-connexn">
      <strong>10 Free Connections</strong>
    </div>
    <div id="plan"> Plan starting at &#x20b9; 35 / connection</div>

    <button type="button" id="butt">
      <b>Start Now</b>
    </button>

    <div id="know-more">
      <b> Know More About SenRa</b>
    </div>

    <div class="mouse_scroll">
      <div>
        <span class="m_scroll_arrows unu"></span>
        
      </div>
    </div>

  </div>
</section> -->

<section class="bodyCoverage">
  <div class="background">
   
    <div class="coverage">

      <p class="heading">Looking For <br>Coverage?</p>
      <p class="data">Our LoRaWAN network coverage is growing rapidly.<br> Find out if you have coverage in your area
        now!</p>
      <a href="https://senraco.com/index.php/coverage/" target="blank">
        <button class="startButton">Find coverage <span class="tooltiptext"><i
              class="fa fa-arrow-right"></i></span></button>
      </a>

    </div>
  </div>
</section>