<section class="bodyConnecting">
  <div class="background">
    <img class="img" src='assets/image/Device.png'
     alt="device image"   >
     <div class="coverage">
        <p class="heading">Connecting<br> devices made easy</p>
        <p class="data">SenRa’s Network-as-a-Service (NaaS) is powered by Senet’s LoRaWAN® Network Operating System and provides a 
           unique set of deployment options, processes and on boarding tools. These features create the perfect balance between 
           scalability, functionality and cost, supporting SenRa’s LoRaWAN network and innovative go-to-market models that are 
           changing the way companies and partners across the IoT ecosystem consume and provide connectivity services.
       </p>
       <a href="https://portal.senraco.io/" target="blank">
        <button class="startButton">Learn More <span class="tooltiptext"><i class="fa fa-arrow-right"></i></span></button>
      </a>
     </div>
  </div>
  </section>