<section class="flex-v" id="events-section">
  <section id="up-section">
    <div class="flex-v center" id="upper">
      <h1 id="heading">Events</h1>
      <p id="para">Follow Us to Know More About Event</p>
      <div class="flex-h" id="socialLinks">
        <nav>
          <a href="https://www.facebook.com/senraco/">
            <img src="assets/image/Fb-white.png" alt="fb-img">
          </a>
          <a href="https://twitter.com/senraco">
            <img src="assets/image/Twitter-white.png" alt="twt-img">
          </a>
          <a href="https://www.linkedin.com/company/senra/">
            <img src="assets/image/LinkedIn-white.png" alt="lnkdin-img">
          </a>
          <a href="https://www.youtube.com/channel/UCsHkIVXGT-EK6EsGnZfgs1w">
            <img src="assets/image/YouT-white.png" alt="YouT-img">
          </a>
        </nav>
      </div>
    </div>
  </section>
  <section class="eventsBody">
    <section class="newEvent" *ngIf='newEvents.length !== 0'>
      <div class="event" *ngFor="let event of newEvents">
        <img class="eventImg" src={{event.image}} alt="event-img">
        <a href={{event.url}} target="_blank">
          <div class="eventInfo">
            <div class="dateDiv flex-v">
              <div class="month flex-h">{{month[(event.fromDate.substring(5,7) * 1).toString()]}}<div
                  *ngIf="false && event.fromDate.substring(5,7) === event.toDate.substring(5,7)">
                  -{{month[(event.toDate.substring(5,7) * 1).toString()]}}</div>
              </div>
              <div class="date flex-h">{{event.fromDate.substring(8,10)}}<div *ngIf="event.toDate">
                  -{{event.toDate.substring(8,10)}}</div>
              </div>
            </div>
            <div class="eventLocationHeading">
              <div class="location">{{event.location}}</div>
              <div class="eventHeading">{{event.heading}}</div>
            </div>
          </div>
        </a>
      </div>
    </section>
    <div class="centerallign">
      <div class="loadmorebutton" *ngIf='newEvents.length!=0'>
        <button class="loadmore pointer" *ngIf="flagNew" (click)='loadNewEvent()'>Load More</button>
      </div>
      <div class="pastevents">
        <h1 class="pastEventHeading">Past Events</h1>
        <p class="textPastEvents">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
          tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo
        </p>
      </div>
    </div>
    <section class="pastEvent">
      <div class="event" *ngFor="let event of pastEvents">
        <img class="eventImg" src={{event.image}} alt="event-img">
        <a href={{event.url}} target="_blank">
          <div class="eventInfo">
            <div class="dateDiv flex-v">
              <div class="month flex-h">{{month[(event.fromDate.substring(5,7) * 1).toString()]}}<div
                  *ngIf="false && event.fromDate.substring(5,7) === event.toDate.substring(5,7)">
                  -{{month[(event.toDate.substring(5,7) * 1).toString()]}}</div>
              </div>
              <div class="date flex-h">{{event.fromDate.substring(8,10)}} <div *ngIf="event.toDate">
                  -{{event.toDate.substring(8,10)}}</div>
              </div>
            </div>
            <div class="eventLocationHeading">
              <div class="location">{{event.location}}</div>
              <div class="eventHeading">{{event.heading}}</div>
            </div>

          </div>
        </a>
      </div>
    </section>
    <div class="centerallign">
      <div class="loadmorebutton">
        <button class="loadmore pointer" *ngIf="flagPast" (click)='loadPastEvent()'>Load More</button>
      </div>
    </div>
  </section>
</section>