<div id="header" class="flex-h flex-1">
    <a routerLink="/about_us" routerLinkActive="active" id="about-us">About Us</a>
    <div class="flex-1">
    </div>
    <nav class="flex-h">
      <a routerLink="/events" routerLinkActive="active" style="color: black;">Events</a>
      <a routerLink="/news" routerLinkActive="active">News</a>
      <a routerLink="/blogs" routerLinkActive="active">Blogs</a>
      <a routerLink="/careers" routerLinkActive="active">Careers</a>
      <a routerLink="/faq" routerLinkActive="active">FAQ's</a>
    </nav>
</div>