.app-button {
  margin: 5px;
  border: none;
  background: #E0E6FB;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  outline: none;
  justify-content: center;
  color: var(--dull-font-color);
  min-width: 140px;
}

.app-button:disabled {
  opacity: 0.5 !important;
}

.app-button--small {
  border: none;
  height: 34px;
  padding: 0 15px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 14px;
  display: flex;
  align-items: center;
  outline: none;
  margin-left: 5px;
}

.app-button--small:disabled {
  opacity: 0.5;
}

.app-button--small > i {
  font-size: 22px;
  margin-right: 5px;
}

.app-button > i {
  margin-right: 5px;
}

.app-button:hover {
  opacity: 0.8;
}

.hide {
  display: none;
}

.button__icon {
  padding: 0 5px;
  font-size: 18px;
}
