<section class="bodyConnecting">
  <div class="background">
    
     <div class="coverage">
        <p class="heading">Our Low-cost IoT<br> Analytics Platform</p>
        <p class="data">The Ginjer IoT Analytics Platform introduces a new low cost approach in deploying IoT solutions. 
           Ginjer accelerates business decision making with powerful reporting tools and real-time data visualization. 
           Coupled with customizable device clusters, device management capabilities,and user access management features,
            companies can now deploy end-to-end solutions in a reduced amount of time.</p>
         <a href="https://www.ginjer.io/home/signIn" target="blank">
          <button class="startButton">Learn More <span class="tooltiptext"><i class="fa fa-arrow-right"></i></span></button>
         </a>
     </div>
     
     <img class="img" src='assets/image/Device.png'
     alt="device image"   >
  </div>
  </section>
