<form [formGroup]="CareerForm" style="padding-top: 10px;padding-left: 1px;">
     
  <div class="grid-container">
    <mat-form-field style="margin-left: 0%;padding-bottom: -2.25em;" appearance="outline">
      <mat-label>Full Name</mat-label>
      <input matInput placeholder="Your Full Name" type="text" [formControl] = "CareerForm?.controls?.nameFormControl" required>
      <mat-error *ngIf="CareerForm?.controls?.nameFormControl.hasError('minlength')">Name must be at least 2 characters long.</mat-error>
      <mat-error *ngIf="CareerForm?.controls?.nameFormControl.hasError('required')">Name is <strong>required</strong></mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
      <mat-label>Email Address</mat-label>
      <input matInput placeholder="Ex. pat@example.com" type="email" [formControl] = "CareerForm?.controls?.emailFormControl" required>
      <mat-error *ngIf="CareerForm?.controls?.emailFormControl.hasError('email')">Please enter a valid email</mat-error>
      <mat-error *ngIf="CareerForm?.controls?.emailFormControl.hasError('required')">Email is <strong>required</strong></mat-error>
    </mat-form-field>
  
    <mat-form-field style="margin-left: 0%;margin-bottom: -1.25em;" appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput type="number" placeholder="Your Contact Number" [formControl] = "CareerForm?.controls?.phoneFormControl" required>
      <mat-error *ngIf="CareerForm?.controls?.phoneFormControl.hasError('required')">Number is <strong>required</strong></mat-error>
      <mat-error *ngIf="CareerForm?.controls?.phoneFormControl.hasError('pattern')">Enter valid number.</mat-error>
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Location</mat-label>
      <input matInput type="text" placeholder="Your Current Address" [formControl] = "CareerForm?.controls?.addressFormControl" required>
      <mat-error *ngIf="CareerForm?.controls?.addressFormControl.hasError('required')">Address is required</mat-error>
    </mat-form-field>
    
    <mat-form-field style="margin-left: 0%;" appearance="outline">
      <mat-label>LinkedIn Profile</mat-label>
      <input matInput type="url" placeholder="Your LinkedIn Profile" [formControl] = "CareerForm?.controls?.lnkdFormControl" required>
      <mat-error *ngIf = "CareerForm?.controls?.lnkdFormControl.hasError('required')">Required</mat-error>
      <mat-error *ngIf = "CareerForm?.controls?.lnkdFormControl.hasError('url')">Enter valid url</mat-error>
    </mat-form-field>
    <mat-form-field style="margin-left: 0%;" appearance="outline">
      <mat-label>Upload Resume</mat-label>
      <ngx-mat-file-input [formControl] = "CareerForm?.controls?.resumeFormControl" placeholder="Upload Your Resume in PDF format" [accept]="'.pdf'"></ngx-mat-file-input>
      <mat-error *ngIf = "CareerForm?.controls?.resumeFormControl.hasError('required')">Required</mat-error>
      <mat-icon matSuffix> attach_file</mat-icon>
    </mat-form-field>
  </div>
  <div class="flex-v">
    <mat-form-field appearance="outline">
      <mat-label>Describe your skills</mat-label>
      <input matInput type="text" placeholder="Write here" [formControl] = "CareerForm?.controls?.writeFormControl" required>
      <mat-error *ngIf = "CareerForm?.controls?.writeFormControl.hasError('required')">Required</mat-error>
    </mat-form-field>
    <button mat-button class="btn-opn">Submit</button>
  </div>
</form>